:root {
  --primary: #a4e9e9;
  --staging: #d2ebeb;
}

body {
  background-color: var(--staging);
  text-align: center;
  height: 100vh;
}
button {
  padding: 5px;
  background-color: #cef495;
  border: 2px solid #80c713;
}

.bg-c {
  background-color: var(--primary);
}

#main {
  width: 100vw;
}
